.contentTable{
    width: 100%;
}

.contentTable .articleRow{
    display: block;
    margin-bottom: 1rem;
}

.contentTable td{
    width: 100%;
    display: block;
}

.contentTable .articleHeader{
    font-size: 1.3rem;
    color: #3a3d40;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-bottom: 0.5em;
}

.contentTable .articleHeader:hover{
    text-decoration: underline;
}

.contentTable .articleImage{
    background-size: cover!important;
    height: 170px;
    max-width: 40%;
    max-height: 100%;
    width: 170px;
    float: left;
    margin: 0.5rem;
    margin-bottom: -0.2rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.articleDescription{
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.articleControls {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.articleControlsItem {
    flex: 1;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #3a3d40;
}

.articleControlsItem:hover{
    background-color: #4fbe1d;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
.articleControlsItem {
    flex: none;
    width: calc(50% - 10px);
}
}

@media screen and (max-width: 480px) {
.articleControlsItem {
    width: 100%;
}
}